body header.wp-block-template-part > #group-navigation {
    transition: all 2s;
}

body.scrolled header.wp-block-template-part > #group-navigation {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    background: var(--wp--preset--color--secondary)
}
